#display-time {
  width: 100%;
  text-align: center;
}

#display-time .display-time-container {
  width: 100%;
}

#display-time .display-time-container .ant-progress {
  top: -0.5rem;
}

.ant-progress-text {
  display: none !important;
}

.ant-form-item-label {
  text-align: left !important;
  max-width: 100% !important;
}

.quesiton {
  display: flex !important;
  flex-direction: column !important;
}

label {
  text-align: left !important;
  height: fit-content !important;
}